.button {
    font: inherit;
    background-color: #e4830c;
    color: #f8f8ff;
    padding: .3em 1em;
    outline: none;
    border: none;
    border-radius: .3em;
    cursor: pointer;
    transition: background-color .3s;
}

.button:hover,
.button:focus {
    background-color: #d2790c;
}

.button:active {
    background-color: #e4830c;
}
